<!DOCTYPE html>
<html>
<head>
  <title>Media Ranker 2.0</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>

<body>
  <header class="page-header row">
    <h2 class="columns large-9 small-12">
      <%= link_to "Media Ranker", root_path %>
      <small>Ranking the Best of Everything</small>
    </h2>


    <section class = "user-info">
      <%if @login_user%>
      <p>Currently logged in as <%= @login_user.username%></p>
      <%= button_to "Log out", logout_path,  class:"button medium"%>
      <%else%>
      <p>Not logged in</p>
      <%= button_to "Log in", "/auth/github", class:"button medium "%>
      <%end%>
    </section>


  </header>

  <section class="flash">
    <% flash.each do |name, message| %>
      <div class="<%= name %>"><%= message %></div>
    <% end %>
  </section>

  <main class="row">
    <%= yield %>
  </main>
</body>
</html>
